<%- include('partials/header.ejs') %>
<main>

    <header>
        <H2>Kodepos_web</H2>
    </header>

    <div class="searchBar">
        <form action="/" method="POST">
        <input class="searchInput"type="text" name="search" placeholder="Masukkan provinsi, kabupaten, kota..">
        <button class="searchButton" type="submit">Search</button>
        </form>
    </div>

<% if (content != "" && content.data != "" &&  content != "empty-input" ) {%>
    <div class="customContent">
        <% for(let i = 1; i < content.data.length; i++) {%>
            <div class="card">
            <div class="card-body">
                <h5 class="card-title"><%= content.data[i].province %></h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Kota: <%= content.data[i].city %> <br>Kecamatan: <%= content.data[i].subdistrict %> <br>Kelurahan: <%= content.data[i].urban %> </li>
                <li class="list-group-item"><%= content.data[i].postalcode %></li>
            </ul>
        </div>
        <% } %>
<% } else if(content == "") {%>
    <div class="emptyContent">
    </div>
<% } else if(content == "empty-input"){ %>
    <div class="emptyContent">
        <p>Input tidak dapat dikosongkan!</p>
    </div>
<% }else{ %>
    <div class="emptyContent">
        <p>Input anda tidak valid!</p>
    </div>
<% } %>

</main>

<%- include('partials/footer.ejs') %>